html, body, #time {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(150deg, indigo, darkblue);
    font-family: 'Verdana', sans-serif;
}

#time {
    color: white;
    line-height: 90vh;
    text-align: center;
    font-size: 15vw;
    cursor: default;
}
#seconds {
    font-size: 90%;
}

#settings {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3vh;
    font-size: 2.5vh;
    color: lightgray;
    opacity: 0.5;
    cursor: default;
}
#settings:hover {
    opacity: 1;
}

label {
    display: flex;
    align-items: center;
}
label > span {
    display: block;
}
input[type="checkbox"] {
    display: none;
}
.slider {
    cursor: pointer;
    background: #aaa;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 10vh;
    height: 3.5vh;
    border-radius: 1.75vh;
}
.slider:before {
    display: block;
    content: "";
    height: 2.7vh;
    width: 2.7vh;
    border-radius: 1.4vh;
    background: white;
    transition: 0.4s;
    transform: translate(0.5vh, 0.38vh);
}
input[type="checkbox"]:checked + .slider:before {
    transform: translate(6.7vh, 0.38vh);
}

#week-start {
    appearance: none;
    background: transparent;
    cursor: pointer;
    border: none;
    font: inherit;
    color: white;
    text-decoration: underline;
}
